@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;
  
}
body {
  padding-top: 3rem;
  color: #5a5a5a;
  font-family: var(--ff-primary);
}
/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
nav {
  font-weight: 400;
  color: #45b751;
  text-transform: uppercase;
}
nav .btn {
  color: #45b751;
}
.nav-item::after {
  content: "";
  display: block;
  width: 0px;
  height: 2px;
  background: #45b751;
  transition: 0.2s;
}
.nav-item:hover::after {
  width: 100%;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}
.carousel-item h1 {
  color: #45b751;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 h2 {
  font-weight: 900;
  color: #45b751;
}
.marketing h1 {
  padding-bottom: 5%;
  color: #45b751;
  font-weight: 900;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 900;
  line-height: 1;
  letter-spacing: -0.05rem;
  color: #45b751;
}
/*------FOOTER------*/

footer {
  background-color: #ddd;
  padding-bottom: 3rem;
  margin-top: 3rem;
}
.social {
  font-size: 1.5em;
}
/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }

  footer {
    padding-bottom: 1rem;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
